---
aid: mastercard:mastercard-id-verification
baseURL: ''
description: In this digital world, user identity fraud is on the rise due to inadequate digital identity verification methods. The ID Networkopens in a new tab model provides users with greater control of their digital identityopens in a new tab and enables organizations to provide seamless digital interactions with reduced risk. The ID network protects personal data and privacy by allowing individuals to control when and with whom their identity data is shared.
humanURL: https://developer.mastercard.com/mastercard-id-assist/documentation/
image: ''
layout: api
name: Mastercard ID Verification
properties:
- name: API Basics | ID Verification | Mastercard Developers
  type: Authentication
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#authentication
- name: API Basics | ID Verification | Mastercard Developers
  type: Sandbox
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#environment-descriptions
- name: Use Cases | ID Verification | Mastercard Developers
  type: UseCases
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/use-cases/
- name: Tutorials and Guides | ID Verification | Mastercard Developers
  type: Tutorials
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/tutorials-and-guides/
- name: API Reference | ID Verification | Mastercard Developers
  type: Documentation
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-reference/
- name: Reference App | ID Verification | Mastercard Developers
  type: CodeExamples
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/reference-app/
- name: Postman Collection | ID Verification | Mastercard Developers
  type: CodeExamples
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/postman-collection/
- name: Code and Formats | ID Verification | Mastercard Developers
  type: Errors
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/code-and-formats/
- name: Release History | ID Verification | Mastercard Developers
  type: ChangeLog
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/release-history/
- name: Support | ID Verification | Mastercard Developers
  type: FAQ
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/support/#faqs
- name: Support | ID Verification | Mastercard Developers
  type: Support
  url: https://developer.mastercard.com/mastercard-id-assist/documentation/support/#help
provider_name: Mastercard
provider_slug: mastercard
slug: mastercard-id-verification
source_filename: apis.yml
source_heading: API entry from apis.yml
source_yaml: "aid: mastercard:mastercard-id-verification\nname: Mastercard ID Verification\ntags:\n- Digital Identity\n- Fraud Prevention\n- Identity Verification\nhumanURL: https://developer.mastercard.com/mastercard-id-assist/documentation/\nproperties:\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#authentication\n  name: API Basics | ID Verification | Mastercard Developers\n  type: Authentication\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-basics/#environment-descriptions\n  name: API Basics | ID Verification | Mastercard Developers\n  type: Sandbox\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/use-cases/\n  name: Use Cases | ID Verification | Mastercard Developers\n  type: UseCases\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/tutorials-and-guides/\n  name: Tutorials and Guides | ID Verification | Mastercard Developers\n  type: Tutorials\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/api-reference/\n\
  \  name: API Reference | ID Verification | Mastercard Developers\n  type: Documentation\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/reference-app/\n  name: Reference App | ID Verification | Mastercard Developers\n  type: CodeExamples\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/postman-collection/\n  name: Postman Collection | ID Verification | Mastercard Developers\n  type: CodeExamples\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/code-and-formats/\n  name: Code and Formats | ID Verification | Mastercard Developers\n  type: Errors\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/release-history/\n  name: Release History | ID Verification | Mastercard Developers\n  type: ChangeLog\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/support/#faqs\n  name: Support | ID Verification | Mastercard Developers\n  type: FAQ\n- url: https://developer.mastercard.com/mastercard-id-assist/documentation/support/#help\n\
  \  name: Support | ID Verification | Mastercard Developers\n  type: Support\ndescription: In this digital world, user identity fraud is on the rise due to inadequate digital identity\n  verification methods. The ID Networkopens in a new tab model provides users with greater control of\n  their digital identityopens in a new tab and enables organizations to provide seamless digital interactions\n  with reduced risk. The ID network protects personal data and privacy by allowing individuals to control\n  when and with whom their identity data is shared.\n"
source_yaml_url: https://raw.githubusercontent.com/api-evangelist/mastercard/refs/heads/main/apis.yml
tags:
- Digital Identity
- Fraud Prevention
- Identity Verification
---
